<div class="foot" id="footer">
  <div class="container">
    <div class="credits">
      <ul class="credits-list">
        <li class="credits-link">
          <a href="">Mail</a>
        </li>

        <li class="credits-link">
          <a href="">Github</a>
        </li>

        <li class="credits-link">
          <a href="">Itch.io</a>
        </li>

        <li class="credits-link">
          <a href="">LinkedIn</a>
        </li>
      </ul>
    </div>

    <div class="copyright">Copyright © 2022 • Siddhartha Pratap Singh</div>
  </div>
</div>
