<div class="foot">
  <div class="container">
    <div class="credits">
      <ul class="credits-list">
        <li class="credits-link">
          <a href=""><img class="credits-logo" src="" alt="" />Mail</a>
        </li>

        <li class="credits-link">
          <a href=""><img class="credits-logo" src="" alt="" />Github</a>
        </li>

        <li class="credits-link">
          <a href=""><img class="credits-logo" src="" alt="" />Itch.io</a>
        </li>

        <li class="credits-link">
          <a href=""><img class="credits-logo" src="" alt="" />LinkedIn</a>
        </li>
      </ul>
    </div>

    <div class="copyright">Copyright © 2022 • Siddhartha Pratap Singh</div>
  </div>
</div>
