<div class="foot" id="footer">
  <div class="container">
    <div class="credits">
      {% unless page.url=="/" %}
      <ul class="credits-list">
        {% for contact in site.data.contacts %}
        <li class="credits-link">
          <a target="_blank" href="{{contact.link}}">
            <img class="credits-logo" src="{{contact.logo}}" alt=""
          /></a>
        </li>
        {% endfor %}
      </ul>
      {% endunless %}
    </div>

    <div class="copyright">Copyright © 2022 • {{site.name}}</div>
  </div>
</div>
