<div class="navbar">
  <div class="container">
    <div class="name">
      <a href="/#">Siddhartha Pratap Singh</a>
    </div>

    <div class="links">
      <ul class="nav-links">
        <li class="nav-item"><a href="#section-1">About Me</a></li>
        <li class="nav-item"><a href="#section-2">Projects</a></li>
        <li class="nav-item"><a href="#section-3">Resume</a></li>
        <li class="nav-item"><a href="#section-4">Blogs</a></li>
        <li class="nav-item"><a href="#section-5">Contacts</a></li>
      </ul>
    </div>
  </div>
</div>
