<div class="navbar">
  <div class="container">
    <div class="name">
      <a href="/index.html">Siddhartha Pratap Singh</a>
    </div>

    <div class="links">
      <ul class="nav-links">
        <li class="nav-item"><a href="/about/">About Me</a></li>
        <li class="nav-item"><a href="/about/">Projects</a></li>
        <li class="nav-item"><a href="/about/">Resume</a></li>
        <li class="nav-item"><a href="/about/">Blogs</a></li>
        <li class="nav-item"><a href="/about/">Contacts</a></li>
      </ul>
    </div>
  </div>
</div>
