@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

:root {
  --alt-col: rgb(70, 150, 225);
  --nav-col: rgb(10, 10, 10);
  --foot-col: rgb(60, 60, 60);
  --code-col: rgb(40, 230, 90);
  --grad-col: rgb(5, 35, 50);
}

/* -----------------------------------
 CSS for Website
----------------------------------- */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--nav-col);
  color: white;
  font-family: "Montserrat", sans-serif;
}

a:link,
a:visited {
  color: var(--alt-col);
  transition: 0.2s ease-in-out;
}

a:hover,
a:active {
  color: white;
  transition: 0.2s ease-in-out;
}

/* -----------------------------------
 CSS for Navbar
----------------------------------- */

.navbar * {
  margin: 0;
  padding: 0;
}

.navbar {
  background: linear-gradient(
    to bottom,
    black 0%,
    var(--nav-col) 80%,
    var(--grad-col) 100%
  );
  position: fixed;
  z-index: 999;
  width: 100%;
  opacity: 80%;
}

.navbar > .container {
  padding: 3px;
}

.nav-image {
  margin: 7px;
  width: 42px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: grey;
  transition: 0.2s ease-in-out;
}

.nav-image:hover {
  background-color: white;
  transition: 0.2s ease-in-out;
}

.nav-contents {
  display: none;
}

.name {
  font-weight: bold;
  font-size: 1.35em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
}

.nav-item {
  padding-left: 8px;
  padding-right: 8px;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  margin: 5px;
  font-weight: 500;
}

.nav-item > a:link,
.nav-item > a:visited {
  color: white;
}

.nav-item > a:hover,
.nav-item > a:active {
  color: var(--alt-col);
  font-weight: bold;
}

/* -----------------------------------
 CSS for Homepage
----------------------------------- */

.home-page * {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: var(--foot-col);
}

.banner > .container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-img {
  opacity: 90%;
  width: 100%;
  min-height: 180px;
}

.banner-text {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.75) 100%
  );
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: absolute;
  border-radius: 2px;
  letter-spacing: 2px;
  padding: 8px;
}

.banner-name {
  font-size: 5vw;
}

.banner-role {
  font-size: 2.5vw;
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 6px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.25em;
  letter-spacing: 1.25px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    to bottom right,
    var(--grad-col) 0%,
    black 20%,
    var(--nav-col) 50%,
    black 80%,
    var(--grad-col) 100%
  );
  color: var(--alt-col);
}

.about-me {
  background-color: var(--nav-col);
  color: white;
}

.about-me > .container {
  text-align: center;
  padding: 10px;
}

.about-container {
  margin-top: 10px;
  padding: 5px;
  align-items: center;
}

.about-left {
  text-align: left;
  margin-top: 10px;
}

.introduction {
  padding-right: 35px;
  padding-left: 35px;
}

.intro-para {
  padding: 8px;
}

.about-right {
  padding-right: 0px;
  padding-left: 0px;
}

.profile {
  margin-bottom: 15px;
  max-height: 240px;
  border-radius: 100%;
  border: 3px solid black;
}

.profile-name {
  font-size: 1.2em;
  font-weight: bold;
}

.work-status {
  font-style: italic;
  padding-top: 5px;
  font-size: 0.85em;
}

.hobbies {
  padding: 5px 0px 5px 0px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hobby {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin-right: 10px;
}

.hobby-title {
  color: var(--alt-col);
  margin-bottom: 10px;
  font-weight: bold;
}

.hobby-list {
  font-size: 0.8em;
  font-style: italic;
}

.quote {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--alt-col);
  font-style: italic;
  font-size: 0.9em;
  margin-top: 5px;
  padding: 8px;
  border-radius: 3px;
}

.projects {
  background-color: var(--foot-col);
  color: white;
}

.project-container {
  margin-top: 8px;
  padding: 10px;
}

.project-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio-project {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  color: white;
  margin: 10px;
  padding: 8px;
  align-items: center;
  border: 1px solid var(--alt-col);
  border-radius: 3px;
}

.project-card {
  text-align: center;
}

.img-border {
  width: 100%;
  max-width: 350px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid black;
  opacity: 80%;
  transition: 0.25s ease-in-out;
}

.project-img:hover {
  transform: scale(1.05);
  transition: 0.25s ease-in-out;
  object-fit: cover;
  opacity: 100%;
}

.project-title {
  padding: 5px;
  text-transform: uppercase;
}

.project-title > a:link,
.project-title > a:visited {
  color: white;
  font-size: 1.2em;
  transition: 0.15s ease-in-out;
}

.project-title > a:hover,
.project-title > a:active {
  color: var(--alt-col);
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

.project-head {
  font-style: italic;
  font-size: 0.9em;
}

.project-role {
  font-size: 0.95em;
  font-weight: bold;
}

.project-details {
  margin-top: 10px;
  align-items: center;
  text-align: left;
}

.project-detail-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 0.9em;
  font-weight: bold;
}

.project-detail-type {
  padding-right: 10px;
}

.project-detail-val {
  margin-right: 10px;
  color: var(--alt-col);
  font-style: italic;
}

.project-description {
  font-size: 0.95em;
  padding-top: 15px;
}

.work-and-resume {
  background: var(--foot-col);
  color: white;
}

.work-container {
  padding: 8px;
}

.work-list {
  list-style: none;
}

.work-item {
  background-color: var(--nav-col);
  padding: 8px;
  margin: 10px;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
}

.work-location {
  background: linear-gradient(
    to bottom,
    black 0%,
    var(--nav-col) 80%,
    var(--grad-col) 100%
  );
  border-radius: 10px;
  padding: 5px;
}

.company-name {
  padding: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.company-name > a:link,
.company-name > a:visited {
  color: white;
}

.company-name > a:hover,
.company-name > a:active {
  color: var(--alt-col);
  font-weight: bold;
}

.company-logo > a > img {
  width: 150px;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
}

.company-logo > a > img:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.work-role {
  font-weight: bold;
}

.work-timeline {
  font-style: italic;
  padding: 3px;
}

.work-description {
  text-align: left;
}

.work-point {
  display: grid;
  grid-template-columns: 1fr 30fr;
  margin: 7px;
}

.work-arrow {
  font-weight: bold;
  font-size: 1.5em;
}

.work-task {
  margin-left: 3px;
  font-size: 0.9em;
  font-style: italic;
}

.resume-container {
  padding: 7px;
  background: var(--nav-col);
}

.skills {
  margin: 5px;
}

.skills > .title {
  text-transform: none;
  font-size: 1.5em;
  background: none;
  color: white;
  font-weight: bold;
}

.skill-container {
  margin-bottom: 5px;
  padding: 7px;
}

.skill-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5px;
}

.skill-section {
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.skill-type {
  text-align: center;
  color: var(--alt-col);
  font-weight: bold;
}

.skill-data-list {
  display: flex;
  justify-content: center;
}

.type-list {
  list-style: none;
  padding-top: 5px;
  text-align: center;
}

.type-data {
  font-style: italic;
  font-size: 0.85em;
}

.achievements {
  margin: 5px;
}

.achievements > .title {
  text-transform: none;
  font-size: 1.5em;
  background: none;
  color: white;
  font-weight: bold;
}

.achievement-container {
  margin-bottom: 5px;
  padding: 7px;
}

.achievement-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}

.achievement-section {
  margin: 10px;
  margin-bottom: -10px;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.achievement-type {
  text-align: center;
  color: var(--alt-col);
  font-weight: bold;
}

.resume-link {
  font-size: 1.05em;
  padding: 7px;
  text-align: center;
}

.resume-link > a:hover,
.resume-link > a:active {
  font-weight: bold;
}

.blogs {
  background-color: var(--foot-col);
  color: white;
}

.blogs-container {
  padding: 7px;
}

.blogs-list {
  list-style: none;
}

.blog-item {
  margin: 10px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  align-items: center;
  border-radius: 3px;
}

.banner-parent {
  padding: 1px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.blog-banner {
  align-items: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 60%;
  border: 2px solid black;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

.blog-banner:hover {
  transform: scale(1.05);
  opacity: 80%;
  transition: 0.2s ease-in-out;
}

.blog-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  padding: 5px;
  display: grid;
  grid-template-rows: 1.5fr 0.5fr 1.5fr;
  align-content: center;
  text-align: center;
}

.headline {
  font-size: 1.5em;
  text-transform: uppercase;
}

.headline > a:hover,
.headline > a:active {
  font-weight: bold;
}

.blog-date {
  font-style: italic;
  padding-bottom: 8px;
  font-size: 0.9em;
}

.blog-description {
  text-align: center;
}

.contacts {
  background-color: var(--nav-col);
  color: white;
}

.contacts-container {
  padding: 7px;
  text-align: center;
}

.title-details {
  padding: 10px;
  font-size: 1.1em;
}

.contact-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.contact-item {
  display: grid;
  grid-template-rows: 2fr 1fr;
  margin-left: 5px;
  margin-right: 5px;
}

.contact-logo > a > img {
  opacity: 50%;
  border-radius: 80%;
  width: 36px;
  border: 1px solid white;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.contact-logo > a > img:hover {
  transform: scale(1.02);
  opacity: 90%;
  transition: 0.3s ease-in-out;
}

.contact-title {
  text-transform: uppercase;
  margin-top: 1.25px;
}

.contact-title > a:hover,
.contact-title > a:active {
  font-weight: bold;
}

.contact-method {
  margin: 7px;
  font-size: 0.9em;
}

.contact-method > a:hover,
.contact-method > a:active {
  text-decoration: underline;
}

/* -----------------------------------
 CSS for Footer
----------------------------------- */

.foot * {
  margin: 0;
  padding: 0;
}

.foot > .container {
  padding: 5px;
  text-align: center;
}

.credits-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.credits-link {
  margin: 6px;
  padding: 3px;
}

.credits-link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid white;
}

.credits-logo {
  width: 30px;
  border-radius: 100%;
}

.credits-link > a:link,
.credits-link > a:visited {
  background-color: rgb(192, 192, 192);
  transition: 0.15s ease-in-out;
}

.credits-link > a:hover,
.credits-link > a:active {
  background-color: white;
  transition: 0.15s ease-in-out;
}

.copyright {
  font-size: 1em;
  margin: 5px;
}

/* -----------------------------------
 CSS for the Project Page 
----------------------------------- */

.project {
  background-color: var(--foot-col);
}

.project-banner {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-banner > img {
  opacity: 90%;
  width: 100%;
  min-height: 180px;
  max-height: 640px;
}

.project-article {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.article-container {
  background-color: var(--nav-col);
  border-radius: 3px;
}

.project-heading * {
  margin: 0;
  padding: 0;
}

.project-top {
  background: linear-gradient(
    to bottom right,
    var(--grad-col) 0%,
    black 20%,
    black 80%,
    var(--grad-col) 100%
  );
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.project-heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: "Poppins", sans-serif;
}

.project-name {
  font-size: 1.5em;
  color: var(--alt-col);
}

.project-company {
  padding-bottom: 5px;
  font-weight: bold;
}

.project-detail * {
  margin: 0;
  padding: 0;
}

.project-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  padding-top: 0px;
}

/* Detail List after blog section */

.project-work {
  padding: 5px 7px 5px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content {
  font-size: 0.7em;
}

.article-screenshot {
  width: 40%;
  min-height: 75px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.two-images {
  display: flex;
  justify-content: center;
}

.article-screenshots {
  width: 30%;
  min-height: 75px;
  margin: 5px;
}

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-block {
  font-size: 1.3vw;
  background-color: black;
  color: var(--code-col);
  width: 90%;
  padding: 5px;
  border-radius: 3px;
}

.button-container {
  background-color: var(--foot-col);
}

.back-button {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 0px;
}

.button-bg {
  background-color: black;
  padding: 7px;
  border-radius: 3px;
}

.button-text {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.button-text:hover,
.button-text:active {
  font-weight: bold;
}

/* -----------------------------------
 CSS for the Blog Page
----------------------------------- */

.blog {
  background-color: var(--foot-col);
}

.banner-blog {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-blog > img {
  opacity: 90%;
  width: 100%;
  min-height: 180px;
  max-height: 640px;
}

.blog-article {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.blog-container {
  background-color: var(--nav-col);
  border-radius: 3px;
}

.blog-top {
  background: linear-gradient(
    to bottom right,
    var(--grad-col) 0%,
    black 20%,
    black 80%,
    var(--grad-col) 100%
  );
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.blog-heading * {
  margin: 0;
  padding: 0;
}

.blog-heading {
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.blog-name {
  font-size: 1.5em;
  color: var(--alt-col);
  text-transform: uppercase;
}

.blog-desc {
  font-size: 0.9em;
  padding-bottom: 5px;
}

.blog-detail * {
  margin: 0;
  padding: 0;
}

.blog-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  padding-top: 0px;
}

.blog-work {
  padding: 5px 7px 5px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-content {
  font-size: 0.7em;
}

/* -----------------------------------
Detail list for Project and Blog
----------------------------------- */
.detail-list {
  font-size: 0.6em;
  list-style: none;
  text-align: center;
}

.detail-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-tag {
  font-weight: bold;
  text-align: right;
}

.detail-val {
  color: var(--alt-col);
  font-weight: bold;
  padding-left: 5px;
  font-style: italic;
  text-align: left;
}

/* -----------------------------------
 CSS for the Error Page
----------------------------------- */

.error-container{
    background: linear-gradient(
    to bottom,
    var(--nav-col) 0%,
    black 20%
  );
  padding: 5px;
}

.error-content{
  background-color: black;
  padding: 5px;
  text-align: center;
  align-items: center;
}

.error-first{
  width: 100%;
  min-height: 180px;
}

.error-image{
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.error-second{
  padding: 10px;
}

.error-text{
  text-align: center;
  font-size: 1.1em;
  margin: 5px;
}

.error-code{
  font-weight: bold;
  font-size: 3.5em;
}

.error-message{
  padding: 3px;
}

.error-desc{
  padding: 3px;
}

.error-prompt{
  font-style: italic;
  font-size: 0.85em;
  padding: 5px;
}

.home-button {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid rgb(192, 192, 192);
}

.home-button > a:link,
.home-button > a:visited {
  background-color: rgb(192, 192, 192);
  transition: 0.15s ease-in-out;
}

.home-button > a:hover,
.home-button > a:active {
  background-color: white;
  transition: 0.15s ease-in-out;
} 

.home-logo {
  width: 30px;
  border-radius: 100%;
}

.error-footer{
  background-color: black;
}

/* -----------------------------------
For Other Resolutions
----------------------------------- */

@media only screen and (min-width: 640px) {
  /* -----------------------------------
  CSS for Navbar
  ----------------------------------- */
  .nav-image {
    display: none;
  }

  .navbar > .container > nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
  }

  .name > a:hover,
  .name > a:active {
    font-size: 1.05em;
  }

  .nav-links {
    list-style: none;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item {
    font-size: 1em;
  }

  /* -----------------------------------
  CSS for Homepage
  ----------------------------------- */

  .banner-text {
    border-radius: 3px;
    letter-spacing: 3px;
    padding: 15px;
  }

  .banner-name {
    font-size: 4.5vw;
  }

  .banner-role {
    font-size: 2vw;
    padding-bottom: 6px;
    padding-top: 9px;
  }

  .title {
    font-size: 3em;
    letter-spacing: 1.5px;
  }

  .about-me > .container {
    padding: 15px;
  }

  .about-left {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.1em;
  }

  .introduction {
    padding-right: 40px;
    padding-left: 40px;
  }

  .profile {
    max-height: 330px;
    border: 5px solid black;
  }

  .hobbies {
    margin-top: 25px;
  }

  .hobby-list {
    font-size: 0.9em;
  }

  .quote {
    font-size: 1.2em;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
  }

  .portfolio-project {
    padding: 15px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    border-radius: 5px;
  }

  .project-card {
    padding-right: 5px;
  }

  .project-img {
    border-radius: 10px;
  }

  .project-details {
    margin-top: 0px;
    margin-left: 15px;
    display: grid;
    grid-template-rows: 1fr 3fr;
  }

  .project-detail-item {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .work-container {
    padding: 15px;
  }

  .work-item {
    background-color: var(--nav-col);
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 5px;
  }

  .work-description {
    padding-left: 25px;
  }

  .work-point {
    margin: 15px;
  }

  .work-task {
    margin-right: 5px;
    font-size: 1em;
  }

  .resume-container {
    padding: 10px;
  }

  .skills {
    margin: 10px;
  }

  .skills > .title {
    font-size: 2em;
  }

  .skill-container {
    margin-bottom: 15px;
    padding: 10px;
  }

  .skill-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .type-list {
    padding-top: 10px;
  }

  .type-data {
    display: flex;
    text-align: left;
    font-size: 1em;
  }

  .achievements {
    margin: 10px;
  }

  .achievements > .title {
    font-size: 2em;
  }

  .achievement-container {
    margin-bottom: 15px;
    padding: 10px;
  }

  .achievement-list {
    grid-template-columns: 1fr 1fr;
  }

  .achievement-section {
    margin-bottom: -15px;
  }

  .resume-link {
    font-size: 1.1em;
    padding: 15px;
    padding-top: 0px;
  }

  .blogs-container {
    padding: 15px;
  }

  .blog-item {
    margin: 20px;
    border-radius: 5px;
  }

  .details-container {
    padding: 10px;
    grid-template-rows: 2fr 0.5fr 1.75fr;
  }

  .headline {
    font-size: 2em;
  }

  .blog-date {
    font-size: 1em;
    padding-bottom: 10px;
  }

  .blog-description {
    font-size: 1.1em;
  }

  .contacts-container {
    padding: 15px;
  }

  .title-details {
    padding: 15px;
    font-size: 1.25em;
  }

  .contact-list {
    padding: 10px;
  }

  .contact-item {
    margin-left: 15px;
    margin-right: 15px;
    grid-template-rows: 2.5fr 1fr;
  }

  .contact-logo > a > img {
    width: 54px;
    border: 2px solid white;
  }

  .contact-title {
    margin-top: 2px;
    letter-spacing: 0.5px;
  }

  .contact-method {
    margin: 12px;
    font-size: 1em;
  }

  /* -----------------------------------
  CSS for Footer
  ----------------------------------- */
  .foot > .container {
    padding: 10px;
    padding-bottom: 5px;
  }

  .credits-logo {
    width: 36px;
  }

  .copyright {
    font-size: 1.05em;
    margin: 9px;
  }

  /* -----------------------------------
  CSS for Project Page
  ----------------------------------- */

  .project-banner > img {
    min-height: 300px;
    max-height: 480px;
    width: auto;
  }

  .project-article {
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .article-container {
    border-radius: 5px;
  }

  .project-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .project-heading {
    letter-spacing: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .project-name {
    font-size: 2.5em;
  }

  .project-company {
    font-size: 1.25em;
    padding-bottom: 8px;
  }

  .project-detail {
    padding: 10px;
    padding-top: 3px;
  }

  /* Detail List after blog section */

  .project-work {
    padding: 10px 16px 10px 16px;
  }

  .project-content {
    font-size: 0.85em;
  }

  .article-screenshots {
    margin: 8px;
  }

  .code-block {
    font-size: 1.2vw;
    width: 80%;
  }

  .back-button {
    padding: 17px;
  }

  .button-bg {
    padding: 10px;
    border-radius: 5px;
  }

  .button-text {
    font-size: 1.2em;
    letter-spacing: 1px;
  }

  /* -----------------------------------
  CSS for the Blog Page
  ----------------------------------- */

  .banner-blog > img {
    min-height: 300px;
    max-height: 480px;
    width: auto;
  }

  .blog-article {
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .blog-container {
    border-radius: 5px;
  }

  .blog-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .blog-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    letter-spacing: 2px;
  }

  .blog-name {
    font-size: 2.5em;
    padding: 3px;
  }

  .blog-desc {
    font-size: 1.05em;
    padding-bottom: 7px;
  }

  .blog-detail {
    padding: 10px;
    padding-top: 3px;
  }

  .blog-work {
    padding: 10px 16px 10px 16px;
  }

  .blog-content {
    font-size: 0.85em;
  }

  /* -----------------------------------
  Detail list for Project and Blog
  ----------------------------------- */
  .detail-list {
    font-size: 0.75em;
  }

  .detail-val {
    padding-left: 10px;
  }

  /* -----------------------------------
  CSS for the Error Page
  ----------------------------------- */
  .error-text{
    font-size: 1.2em;
  }

  .home-logo {
    width: 36px;
  }
}

@media only screen and (min-width: 960px) {
  /* -----------------------------------
  CSS for Navbar
  ----------------------------------- */
  .navbar > .container > nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    justify-content: space-between;
    padding: 10px;
  }

  /* -----------------------------------
  CSS for Homepage
  ----------------------------------- */
  .banner-name {
    font-size: 3.8vw;
  }

  .banner-role {
    font-size: 1.6vw;
    padding-bottom: 10px;
    padding-top: 15px;
  }

  .about-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
  }

  .about-left {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 1.15em;
  }

  .introduction {
    padding-right: 0px;
    padding-left: 0px;
  }

  .intro-para {
    padding: 15px 10px 15px 0px;
  }

  .project-container {
    margin-top: 10px;
    padding: 15px;
  }

  .work-item {
    grid-template-columns: 1fr 3fr;
  }

  .work-task {
    font-size: 1.1em;
  }

  .skill-type {
    font-size: 1.25em;
  }

  .achievement-type {
    font-size: 1.25em;
  }

  .achievement-section {
    margin-bottom: -45px;
  }

  .resume-link {
    font-size: 1.25em;
  }

  .blog-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .banner-parent {
    width: 480px;
  }

  .details-container {
    padding-left: 10px;
    padding-right: 20px;
    grid-template-rows: 2.5fr 0.5fr 2fr;
  }

  .headline {
    font-size: 2.5em;
  }

  .blog-date {
    font-size: 1.1em;
  }

  .blog-description {
    font-size: 1.25em;
    margin: 10px;
    text-align: left;
  }

  .title-details {
    padding: 20px;
    font-size: 1.4em;
  }

  .contact-item {
    margin-left: 25px;
    margin-right: 25px;
    grid-template-rows: 3fr 1fr;
  }

  .contact-logo > a > img {
    width: 72px;
  }

  .contact-title {
    margin-top: 3px;
    letter-spacing: 1px;
  }

  .contact-method {
    margin: 15px;
    font-size: 1.2em;
  }

  /* -----------------------------------
  CSS for Footer
  ----------------------------------- */

  .credits-logo {
    width: 42px;
  }

  .copyright {
    font-size: 1.15em;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  /* -----------------------------------
  CSS for Project Page
  ----------------------------------- */
  .project-banner > img {
    min-height: 300px;
    max-height: 640px;
  }

  .project-article {
    padding: 75px;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .project-name {
    font-size: 3.5em;
  }

  .project-company {
    font-size: 1.5em;
    padding-bottom: 10px;
  }

  .project-detail {
    padding: 15px;
    padding-top: 5px;
  }
  /* Detail List after blog section */

  .project-work {
    padding: 15px 25px 15px 25px;
  }

  .project-content {
    font-size: 1em;
  }

  .article-screenshots {
    margin: 10px;
  }

  .code-block {
    font-size: 0.9vw;
    width: 75%;
  }

  .back-button {
    padding: 25px;
  }

  .button-bg {
    padding: 15px;
  }

  .button-text {
    font-size: 1.3em;
  }

  /* -----------------------------------
  CSS for the Blog Page
  ----------------------------------- */

  .blog-banner > img {
    min-height: 300px;
    max-height: 640px;
  }

  .blog-article {
    padding: 75px;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .blog-name {
    font-size: 3.25em;
  }

  .blog-desc {
    font-size: 1.2em;
    padding-bottom: 10px;
  }

  .blog-detail {
    padding: 15px;
    padding-top: 5px;
  }

  .blog-work {
    padding: 15px 25px 15px 25px;
  }

  .blog-content {
    font-size: 1em;
  }

  /* -----------------------------------
  Detail list for Project and Blog
  ----------------------------------- */
  .detail-list {
    font-size: 0.9em;
  }

  .detail-val {
    padding-left: 15px;
  }

  /* -----------------------------------
  CSS for the Error Page
  ----------------------------------- */
  .error-content{
    display: flex;
  }

  .error-text{
    font-size: 1.35em;
    display: grid;
  }

  .error-code{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .error-message{
    margin-top: 25px;
    margin-bottom: 0px;
  }

  .error-desc{
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .error-prompt{
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .home-logo {
    width: 42px;
  }
}

@media only screen and (min-width: 1100px) {
  /* -----------------------------------
  CSS for Homepage
  ----------------------------------- */
  .project-list {
    grid-template-columns: 1fr 1fr;
  }

  .img-border {
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 300px) {
  /* -----------------------------------
  CSS for Project page
  ----------------------------------- */
  .project-content {
    font-size: 0.55em;
  }

  .code-block {
    font-size: 1.5vw;
    width: 100%;
  }

  /* -----------------------------------
  CSS for the Blog Page
  ----------------------------------- */
  .blog-content {
    font-size: 0.55em;
  }
}
/* -----------------------------------
 End
----------------------------------- */
