---
layout: template
---

<div class="banner">
  <div class="container">
    <img class="banner-img" src="/assets/banner.png" alt="" />

    <div class="banner-text">
      <div class="banner-name">Siddhartha Pratap Singh</div>
      <div class="banner-role">Game and Graphics Programmer</div>
    </div>
  </div>
</div>

<div class="about-me">
  <div class="title">About Me</div>

  <div class="container">
    <div class="about-container">
      <div class="about-left">
        <div class="introduction">
          <p class="intro-para">
            Hi, I am Siddhartha Pratap Singh, a Gameplay and Graphics Programmer
            from India. I am currently studying at the Indian Institute of
            Technology, Kanpur, India expected to graduate in 2023.
          </p>
          <p class="intro-para">
            I have been involved in the field of Game Development since early
            2020. I love making games and am especially interested in RPGs and
            Graphics Programming(OpenGL and writing Shaders).
          </p>
        </div>
      </div>

      <div class="about-right">
        <img class="profile" src="/assets/Profile.jpg" alt="" />

        <div class="profile-name">Siddhartha Pratap Singh</div>

        <div class="work-status">Group Leader, Studio Centauri, IIT Kanpur</div>
      </div>
    </div>

    <div class="hobbies">
      Things I like:- Video games, Anime, Manga, Comic books, Fantasy and
      Sci-fi. My favourite games include Fallout: New Vegas, Mass Effect 2 and
      Dark Souls.
    </div>

    <div class="quote">
      "In the darkest times, hope is something you give yourself. That is the
      meaning of inner strength" - Iroh
    </div>
  </div>
</div>

<div class="projects">
  <div class="container">
    <!-- <div class="pro-projects">
      <div class="title">Professional Projects</div>

      <div class="project-container">
        <ul class="project-list">
          <li class="portfolio-project">
            <div class="project-card">
              <div class="img-border">
                <img
                  class="project-img"
                  src="/assets/images/Renderer3.png"
                  alt=""
                />
              </div>

              <div class="project-title"><a href="">Renderer</a></div>

              <div class="project-head">Self</div>

              <div class="project-role">Graphics Programmer</div>
            </div>

            <div class="project-details">
              <div class="engine-used">Engine:- OpenGL</div>

              <div class="language-used">Language:- C++</div>

              <div class="project-description">
                A basic OpenGL Renderer written in C++. Includes Renderer,
                Shader, Material and Model classes.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="self-projects">
      <div class="title">Self Projects</div>

      <div class="project-container">
        <ul class="project-list">
          <li class="portfolio-project">
            <div class="project-card">
              <div class="img-border">
                <img
                  class="project-img"
                  src="/assets/images/Renderer1.png"
                  alt=""
                />
              </div>

              <div class="project-title"><a href="">OpenGL Renderer</a></div>

              <div class="project-head">Self-project</div>
            </div>

            <div class="project-details">
              <div class="engine-used">Engine:- OpenGL API, GLFW</div>

              <div class="language-used">Language:- C++</div>

              <div class="project-description">
                A basic OpenGL Renderer written in C++. Includes Renderer,
                Shader, Material and Model classes.
              </div>
            </div>
          </li>

          <li class="portfolio-project">
            <div class="project-card">
              <div class="img-border">
                <img
                  class="project-img"
                  src="/assets/images/Roaming0.png"
                  alt=""
                />
              </div>

              <div class="project-title"><a href="">Roaming Ruins</a></div>

              <div class="project-head">Self-project</div>
            </div>

            <div class="project-details">
              <div class="engine-used">Engine:- Unity</div>

              <div class="language-used">Language:- C#</div>

              <div class="project-description">
                A 3D dungeon-crawler/puzzle game made in 1 week as part of
                Brackey's Game Jam 2020.02. This is a solo project with all the
                artwork done during the 1 week period.
              </div>
            </div>
          </li>

          <li class="portfolio-project">
            <div class="project-card">
              <div class="img-border">
                <img
                  class="project-img"
                  src="/assets/images/Tests0.png"
                  alt=""
                />
              </div>

              <div class="project-title"><a href="">The Tests</a></div>

              <div class="project-head">Self-project</div>
            </div>

            <div class="project-details">
              <div class="engine-used">Engine:- Unity</div>

              <div class="language-used">Language:- C#</div>

              <div class="project-description">
                A Platformer/Metroidvania made in Unity as part of a 3-day Game
                Jam. This Game Jam had no theme and I made this to test out my
                skills making a 2D game.
              </div>
            </div>
          </li>

          <li class="portfolio-project">
            <div class="project-card">
              <div class="img-border">
                <img
                  class="project-img"
                  src="/assets/images/ProMap3.png"
                  alt=""
                />
              </div>

              <div class="project-title"><a href="">Procedural Map</a></div>

              <div class="project-head">Self-project</div>
            </div>

            <div class="project-details">
              <div class="engine-used">Engine:- Unity</div>

              <div class="language-used">Language:- C#</div>

              <div class="project-description">
                A procedural map generator, made in Unity. Involves used of
                Perlin noise layered in octaves to generate Height maps and
                subsequent Color maps and 3d meshes.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="work-and-resume">
  <div class="container">
    <div class="work-experience">
      <div class="title">Work Experience</div>

      <div class="work-container">
        <ul class="work-list">
          <li class="work-item">
            <div class="work-location">
              <div class="company-name"><a href="">Studio Centauri</a></div>

              <div class="company-logo">
                <img src="/assets/gamedev.png" alt="" />
              </div>

              <div class="work-role">Group Leader</div>

              <div class="work-timeline">April 2021 - Present</div>
            </div>

            <div class="work-description">
              <p class="work-point">
                Acted as the group leader of the Game Development Society, IIT
                Kanpur also known as Studio Centauri.
              </p>
              <p class="work-point">
                Organized Summer Projects, Internal Projects, Introductory
                sessions and workshops for the junior batches.
              </p>
              <p class="work-point">
                Mentored the Summer Projects 2021 as part of SNT Summer Camp.
              </p>
            </div>
          </li>

          <li class="work-item">
            <div class="work-location">
              <div class="company-name">
                <a href="">Counselling Service, IITK</a>
              </div>

              <div class="company-logo">
                <img src="/assets/cs.png" alt="" />
              </div>

              <div class="work-role">Student Guide</div>

              <div class="work-timeline">November 2020 - July 2021</div>
            </div>

            <div class="work-description">
              <p class="work-point">
                Acted as a Student Guide for CS, IITK for the Y20 batch.
              </p>
              <p class="work-point">
                Guided 5 Y20 freshers during their first year.
              </p>
              <p class="work-point">
                Helped them in their academics and provided holistice support.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="resume-and-skills">
      <div class="title">Resume</div>

      <div class="resume-container">
        <div class="skills">
          <div class="title">Skills</div>

          <div class="skill-container">
            <ul class="skill-list">
              <li class="skill-section">
                <div class="skill-type">Languages</div>

                <ul class="type-list">
                  <li class="type-data">C/C++</li>
                  <li class="type-data">C#</li>
                  <li class="type-data">Java</li>
                  <li class="type-data">Python</li>
                </ul>
              </li>

              <li class="skill-section">
                <div class="skill-type">Engines + API</div>

                <ul class="type-list">
                  <li class="type-data">Unity</li>
                  <li class="type-data">Unreal Engine</li>
                  <li class="type-data">Godot</li>
                  <li class="type-data">OpenGL</li>
                  <li class="type-data">Twine</li>
                </ul>
              </li>

              <li class="skill-section">
                <div class="skill-type">Utilities</div>

                <ul class="type-list">
                  <li class="type-data">Git/Github</li>
                  <li class="type-data">Linux</li>
                  <li class="type-data">CMake</li>
                  <li class="type-data">Blender</li>
                </ul>
              </li>

              <li class="skill-section">
                <div class="skill-type">Fields</div>

                <ul class="type-list">
                  <li class="type-data">Game Mechanics</li>
                  <li class="type-data">Computer Graphics</li>
                  <li class="type-data">Game Design</li>
                  <li class="type-data">Worldbuilding</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="achievements">
          <div class="title">Achievements</div>

          <div class="achievement-container">
            <ul class="achievement-list">
              <li class="achievement-section">
                <div class="achievement-type">Academic Achievements</div>

                <ul class="type-list">
                  <li class="type-data">
                    Cleared JEE Advanced 2019 with AIR 5012
                  </li>
                  <li class="type-data">
                    Cleared JEE Mains 2019 with AIR 2507
                  </li>
                </ul>
              </li>

              <li class="achievement-section">
                <div class="achievement-type">Competitions</div>

                <ul class="type-list">
                  <li class="type-data">
                    Participated in Brackeys Game Jam 2020.2
                  </li>

                  <li class="type-data">Participated in GMTK Game Jam 2020</li>

                  <li class="type-data">
                    First position in Fall Game Jam 2020
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="resume-link">
          You could easily access my complete resume at:-
          <a
            href=" https://drive.google.com/file/d/1KyeJQ2GSUITrdcLRciE2RDj3gOxTi344/"
            >Resume_Siddhartha</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blogs">
  <div class="container">
    <div class="title">Blogs</div>

    <div class="blogs-container">
      <ul class="blogs-list">
        <li class="blog-item">
          <div class="blog-heading">
            <div class="headline">The Tests: Devlog</div>

            <div class="blog-banner">
              <img src="/assets/images/Tests1.png" alt="" />
            </div>

            <div class="blog-date">Aug, 2020</div>

            <div class="blog-description">
              Devlog for the game, "The Tests" made for Fall Game Jam 2020
            </div>

            <div class="read-button">
              <a href="">Read</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="contacts">
  <div class="container">
    <div class="title">Contact Details</div>

    <div class="contacts-container">
      <div class="title-details">
        You can contact me by going over the following links:-
      </div>

      <ul class="contact-list">
        <li class="contact-item">
          <div class="contact-logo"><img src="" alt="" /></div>
          <div class="contact-title">
            <a href="mailto:sidps1112@gmail.com">Mail</a>
          </div>
        </li>

        <li class="contact-item">
          <div class="contact-logo"><img src="" alt="" /></div>
          <div class="contact-title">
            <a href="https://github.com/sps1112">Github</a>
          </div>
        </li>

        <li class="contact-item">
          <div class="contact-logo"><img src="" alt="" /></div>
          <div class="contact-title">
            <a href="https://kingcrimson1112.itch.io/">Itch.io</a>
          </div>
        </li>

        <li class="contact-item">
          <div class="contact-logo"><img src="" alt="" /></div>
          <div class="contact-title">
            <a
              href="https://www.linkedin.com/in/siddhartha-pratap-singh-013340149/"
              >LinkedIn</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
